.idea/workspace.xml
node_modules/netconfig/build
node_modules/restify/node_modules/dtrace-provider/build
npm-debug.log
node_modules/restify/node_modules/dtrace-provider/.lock-wscript
node_modules/node-gyp/gyp/pylib/gyp/*.pyc
node_modules/node-gyp/gyp/pylib/gyp/generator/*.pyc
